* {
    color: white;
    font-size: 1rem;
    font-family: 'comic sans ms', Arial, Helvetica, sans-serif; 
    background-color: #282a2e;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.project {
    border: solid white 2px;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
    min-width: 100px;
    padding: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
}

.task-title {
    text-wrap: 1;
    max-width: 300px;
    word-wrap: break-word;
}

.task-date {
    margin-left: 10px;
}

button {
    max-width: 100px;
}

input {
    background-color: rgb(0, 0, 0, 0);
}

body {
    position: relative;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0; /* Reset margin */
    display: none; /* Initially hidden */
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

dialog[open] {
    display: block; /* Visible when the dialog is open */
}

.add-task {
    border: none;
    font-size: 2rem;
}


.close-dialog,
.close-project-dialog {
    border: none;
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

dialog button,
.add-project {
    border: solid white 2px;
    border-radius: 5px;
    margin-left: 10px;
}

.add-project {
    position: fixed; /* Fixed position for sticking to a corner */
    bottom: 20px; /* Distance from the bottom edge */
    right: 20px; /* Distance from the right edge */
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional shadow for style */
}

dialog > * {
    margin: 10px;
}

input, textarea {
    border: solid white 2px;
    border-radius: 5px;
}

.textarea-container {
    display: flex;
    align-items:start;
}

textarea {
    margin-left: 5px;
}




